@using Cars.Web.ViewModels.Car;
@model CarsListViewModel
@{
	this.ViewData["Title"] = "All cars Page...";
}
<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container px-3">
	<div class="row gx-4">
		@foreach (var car in this.Model.Cars)
		{
			<div class="p-5" style="width: 18rem;">
				<img src="@car.ImageUrl" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title">@car.MakeName</h4>
					<h5 class="card-title">@car.ModelName</h5>
					<h5 class="card-title">@car.FuelTypeName</h5>
					<h5 class="card-title">@car.TownName</h5>
					<h4 class="card-title">@car.Price Euro</h4>
					<h5 class="card-title">@car.TransmissionName</h5>
					<h5 class="card-title">@car.Mileage km</h5>

					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>

		}
		
	</div>
</div>
<hr/>
<nav aria-label="...">
	<ul class="pagination justify-content-center">
		<li class="page-item @if(!Model.HasPreviousPage) {<text>disabled</text>}">
			<a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Previous</a>
		</li>
		@for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
		{
			if(i > 0)
			{
				<li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>

			}
		}
		
		<li class="page-item active" aria-current="page">
			<span class="page-link">
				@Model.PageNumber
				
			</span>
		</li>

		@for (int i = Model.PageNumber + 1; i < Model.PageNumber + 3; i++)
		{
			if (i <= Model.PagesCount)
			{
				<li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>

			}
		}
		
		<li class="page-item @if(!Model.HasNextPage) {<text>disabled</text>}">
			<a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
		</li>
	</ul>
</nav>
