@using Cars.Web.ViewModels.Car;
@model CarsListViewModel
@{
	this.ViewData["Title"] = "All cars, page " + Model.PageNumber;
}
<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container px-3">
	<div class="row gx-4">
		@foreach (var car in this.Model.Cars)
		{
			<div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
				<div class="card">
					<div class="card-img-wrapper">
						<img class="card-img-top" src="@car.ImageUrl" alt="Card image cap">
					</div>
					<div class="card-body">
						<h5 class="card-title">@car.MakeName @car.ModelName @car.Price Euro @car.TownName
							@car.Mileage km
						</h5>
						<p class="card-text">Fuel type @car.FuelTypeName</p>
						<p class="card-text">Transmission @car.TransmissionName</p>
						<p class="card-text">@car.Mileage km</p>
						<p class="card-text">@car.Description</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>

		}
	</div>
</div>



<hr/>
<partial name="_PaggingPartial" model="@Model" />

@section Scripts{
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
}
