@using Cars.Web.ViewModels.Car;
@model CarsListViewModel
@{
	this.ViewData["Title"] = "All cars, page " + Model.PageNumber;
}
<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container px-3">
	<div class="row gx-4">
		@foreach (var car in this.Model.Cars)
		{
			<div class="p-5" style="width: 18rem;">
				<img src="@car.ImageUrl" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title">@car.MakeName</h4>
					<h5 class="card-title">@car.ModelName</h5>
					<h5 class="card-title">@car.FuelTypeName</h5>
					<h5 class="card-title">@car.TownName</h5>
					<h4 class="card-title">@car.Price Euro</h4>
					<h5 class="card-title">@car.TransmissionName</h5>
					<h5 class="card-title">@car.Mileage km</h5>

					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>

		}
	</div>
</div>
<hr/>
<partial name="_PaggingPartial" model="@Model" />
