@using Cars.Web.ViewModels.Car;
@model CarsListViewModel
@{
	this.ViewData["Title"] = "All cars Page...";
}
<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container px-3">
	<div class="row gx-4">
		@foreach (var car in this.Model.Cars)
		{
			<div class="p-5" style="width: 18rem;">
				<img src="@car.ImageUrl" class="card-img-top" alt="...">
				<div class="card-body">
					<h4 class="card-title">@car.Make</h4>
					<h5 class="card-title">@car.Model</h5>
					<h5 class="card-title">@car.FuelType</h5>
					<h5 class="card-title">@car.Town</h5>
					<h4 class="card-title">@car.Price Euro</h4>
					<h5 class="card-title">@car.Transmission</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>

		}
		
	</div>
</div>
<hr/>
<nav aria-label="...">
	<ul class="pagination justify-content-center">
		<li class="page-item disabled">
			<a class="page-link">Previous</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item active" aria-current="page">
			<a class="page-link" href="#">2</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item">
			<a class="page-link" href="#">Next</a>
		</li>
	</ul>
</nav>
