@using Cars.Common
@using Cars.Web.ViewModels.Home;
@model IndexViewModel
@{
	this.ViewData["Title"] = "Home Page";
}
<div class="bg-image img-fluid"
	 style="
	background-image: url('/images/01.png');
	height: 100vh;
  ">

	<div class="text-center text-white">
		<h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
		<h2>You can search for a car in @Model.CarsCount ads</h2>

		<p>We have:</p>

		<p>Cars: @Model.CarsCount</p>
		<p>Makes: @Model.MakesCount</p>
		<p>Models: @Model.ModelsCount</p>
		



	</div>
</div>

